@model RestauranteApp.Models.Factura

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Factura</h4>
<hr />

        <form asp-action="Create"  class="row g-3 ">  <!-- panel de venta -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-5">
                <label asp-for="PedidoId" class="control-label"></label>
                <select asp-for="PedidoId" class ="form-control" asp-items="ViewBag.PedidoId"></select>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
            </div>


            <div class="form-group col-md-5">
                <label asp-for="MesaId" class="control-label"></label>
                <select asp-for="MesaId" class ="form-control" asp-items="ViewBag.MesaId"></select>
            </div>


            <div class="form-group col-md-5">
                <label asp-for="MontoTotal" class="control-label"></label>
                <input asp-for="MontoTotal" class="form-control" />
                <span asp-validation-for="MontoTotal" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="MetodoPago" class="control-label"></label>
                <input asp-for="MetodoPago" class="form-control" />
                <span asp-validation-for="MetodoPago" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="FechaPago" class="control-label"></label>
                <input asp-for="FechaPago" class="form-control" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
<div>

            <div class="form-group ">
                <input type="submit" value="Agregar Producto" class="btn btn-primary" />
            </div>
            <br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio Unitario</th>
      <th scope="col">Sub total</th>
      <th scope="col">Acciones</th>
        

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>Otto</td>
      <td>Otto</td>
    </tr>
  </tbody>
</table>

<div>



            <div class="form-group ">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>







<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
