
@{

    ViewData["Title"] = "Home Page";
}





















<hr>




  <main class="dashboard">

  <a asp-controller="Mesas" class="card-link">
    <div class="card">

      <span class="icon">🪑</span>
      <h2>Mesas</h2>
      
    </div>
  </a>


 <a asp-controller="CategoriaMenus" class="card-link">
    <div class="card">
      <span class="icon">📖</span>
      <h2>Menú</h2>
    </div>
</a>

  <a asp-controller="Pedidos" class="card-link">
    <div class="card">
      <span class="icon">🛎️</span>
      <h2>Pedidos</h2>
    </div>
</a>


    <div class="card">
      <span class="icon">📦</span>
      <h2>Inventario</h2>
    </div>

  <a asp-controller="Empleados" class="card-link">
    <div class="card">
      <span class="icon">👨‍🍳</span>
      <h2>Empleados</h2>
    </div>
  </a>

    <div class="card">
      <span class="icon">💰</span>
      <h2>Ventas</h2>
    </div>


    <div class="card">
      <span class="icon">📊</span>
      <h2>Reportes</h2>
    </div>

  <a asp-controller="DatosNegocios" class="card-link">
    <div class="card">
      <span class="icon">⚙️</span>
      <h2>Configuración</h2>
    </div>
  </a>

  </main>