
@{

    ViewData["Title"] = "Home Page";
}

<hr>
  <main class="dashboard">

  <a asp-controller="Mesas" class="card-link">
    <div class="card-neo">

      <span class="icon">🪑</span>
      <h2>Mesas</h2>
      
    </div>
  </a>


 <a asp-controller="CategoriaMenus" class="card-link">
    <div class="card-neo">
      <span class="icon">📖</span>
      <h2>Menú</h2>
    </div>
</a>

  <a asp-controller="Pedidos" class="card-link">
    <div class="card-neo">
      <span class="icon">🛎️</span>
      <h2>Pedidos</h2>
    </div>
</a>




  <a asp-controller="Empleados" class="card-link">
    <div class="card-neo">
      <span class="icon">👨‍🍳</span>
      <h2>Empleados</h2>
    </div>
  </a>



<a asp-controller="Estadisticas" class="card-link">
    <div class="card-neo">
      <span class="icon">📊</span>
      <h2>Reportes</h2>
    </div>
</a>


  </main>